/* Remove broken import */
/* @import "latex-base.css"; */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

/* Document Container - The "Page" */
.latex-preview {
    font-family: 'Lora', 'Times New Roman', serif !important;
    line-height: 1.6 !important;
    color: #000 !important;

    /* A4 Dimensions (approx) */
    width: 210mm;
    max-width: 100%;
    min-height: 297mm;
    margin: 0 auto;
    padding: 25mm 25mm;
    /* Standard margins */

    background-color: white !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Reset for internal elements */
.latex-preview * {
    box-sizing: border-box;
    max-width: 100%;
}

/* Title Area */
.latex-preview .title,
.latex-preview h1.title {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 1em;
    line-height: 1.2;
    color: #000;
}

.latex-preview .author {
    text-align: center;
    font-size: 14pt;
    margin-bottom: 0.5em;
    font-style: italic;
}

.latex-preview .date {
    text-align: center;
    font-size: 12pt;
    margin-bottom: 2em;
    color: #000;
}

/* Abstract */
.latex-preview .abstract,
.latex-preview div.abstract {
    margin: 0 4em 2em 4em;
    font-size: 10pt;
    font-style: italic;
    line-height: 1.4;
    text-align: justify;
}

.latex-preview .abstract-title {
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 0.5em;
    font-size: 10pt;
    font-style: normal;
    /* Title usually not italic even if text is */
}

/* Sectioning */
.latex-preview h1,
.latex-preview h2,
.latex-preview h3,
.latex-preview h4 {
    color: #000;
    line-height: 1.3;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
}

.latex-preview h2 {
    font-size: 16pt;
    font-weight: bold;
    border-bottom: none;
    /* Academic papers usually don't have lines */
}

.latex-preview h3 {
    font-size: 14pt;
    font-weight: bold;
}

.latex-preview h4 {
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
}

/* Paragraphs */
.latex-preview p {
    margin-bottom: 1em;
    text-align: justify;
    text-justify: inter-word;
    font-size: 11pt;
    /* Standard body size */
    text-indent: 1.5em;
    /* Academic indentation */
}

.latex-preview p.noindent {
    text-indent: 0;
}

/* Lists */
.latex-preview ul,
.latex-preview ol {
    margin-bottom: 1em;
    padding-left: 2em;
}

.latex-preview li {
    margin-bottom: 0.2em;
}

/* Placeholders */
.latex-preview span[style*="color: gray"] {
    display: block;
    padding: 1em;
    background: #f8f9fa;
    border: 1px solid #ccc;
    text-align: center;
    color: #666;
    font-family: monospace;
    font-size: 0.9em;
    margin: 1.5em auto;
    width: 80%;
}